<!-- <h1>{{title}}</h1>

<input class="form-control" [(ngModel)]="texto" type="text" [placeholder]="placeHold" [disabled]="deshabilitado">

{{texto}}

<button (click)="mostrar()">Mostrar Tabla</button>
<table *ngIf="valorTabla" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudiante of estudiantes; index as i" >
      <th scope="row">{{i+1}}</th>
      <td [ngClass]="estudiante.edad >= 26 ? 'badge bg-success' : 'badge bg-secondary'">{{estudiante.nombre}}</td>
      <td>{{estudiante.apellido}}</td>
      <td [ngStyle]="{'color':estudiante.edad >= 26 ? 'red' : 'black'}" >{{estudiante.edad}}</td>
    </tr>
  </tbody>
</table> -->

<!-- <app-piano></app-piano> -->
<!-- <app-dados></app-dados> -->
<!-- <app-tareas></app-tareas> -->
<!-- <app-convertidor></app-convertidor> -->
<!-- <app-bmicalculator></app-bmicalculator> -->
<!-- <app-empleado-list></app-empleado-list> -->
<!-- <app-citas></app-citas> -->
<!-- <app-presupuesto></app-presupuesto> -->
<!-- <app-clima></app-clima> -->
<!-- <app-bitly></app-bitly> -->
<!-- <app-noticias></app-noticias> -->
<!-- <app-pixabay></app-pixabay> -->
<!-- <app-tarjeta-credito></app-tarjeta-credito> -->

<router-outlet></router-outlet>
<!-- <app-appusuarios></app-appusuarios> -->

<!-- <app-inicio-proyecto></app-inicio-proyecto> -->