<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mx-auto">MENU DEL PROYECTO</span>
</nav>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Citas Medicas</h5>
                    <span>Descripcion:</span>
                    <p>Este proyecto sirve para crear citas medicas en las que la persona puede adjuntar su nombre, fecha, hora y sintomas que tiene.</p>
                    <button routerLink="/citas" class="btn btn-primary btn-lg btn-color">VER PROYECTO</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Clima de Ciudades</h5>
                    <span>Descripcion:</span>
                    <p>Este proyecto sirve para buscar el clima de cualquiera ciudad del mundo.</p>
                    <button routerLink="/clima" class="btn btn-primary btn-lg btn-color">VER PROYECTO</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Convertidor de Monedas</h5>
                    <span>Descripcion:</span>
                    <p>Este proyecto sirve para hacer cambio entre monedas de USD, EUR y Libras.</p>
                    <button routerLink="/convertidor" class="btn btn-primary btn-lg btn-color">VER PROYECTO</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Juego de Dados</h5>
                    <span>Descripcion:</span>
                    <p>Este proyecto es un juego de dados.</p>
                    <button routerLink="/dados" class="btn btn-primary btn-lg btn-color">VER PROYECTO</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Lista de Empleados</h5>
                    <span>Descripcion:</span>
                    <p>Este proyecto lista los empleados de una empresa y los filtra por sexo.</p>
                    <button routerLink="/list-empleados" class="btn btn-primary btn-lg btn-color">VER PROYECTO</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Noticias Mundiales</h5>
                    <span>Descripcion:</span>
                    <p>Este proyecto sirve para buscar noticias segun la categoria y el pais que desees.</p>
                    <button routerLink="/noticias" class="btn btn-primary btn-lg btn-color">VER PROYECTO</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Piano</h5>
                    <span>Descripcion:</span>
                    <p>Este proyecto es un piano con musica, procura tener audifonos puestos para escuchar del piano.</p>
                    <button routerLink="/piano" class="btn btn-primary btn-lg btn-color">VER PROYECTO</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">Pixabay</h5>
                    <span>Descripcion:</span>
                    <p>Este proyecto sirve para buscar imagenes de tu preferencia.</p>
                    <button routerLink="/pixabay" class="btn btn-primary btn-lg btn-color">VER PROYECTO</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">presupuesto</h5>
                    <span>Descripcion:</span>
                    <p>Este proyecto sirve para sacar presupuesto de las compras que desees realizar y los gatos que tengas que hacer.</p>
                    <button routerLink="/presupuesto" class="btn btn-primary btn-lg btn-color">VER PROYECTO</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">tareas</h5>
                    <span>Descripcion:</span>
                    <p>Este proyecto sirve para hacer un listado de tareas sobre las cosas que tengas que hacer y hacer un check si ya estan realizadas o no.</p>
                    <button routerLink="/tareas" class="btn btn-primary btn-lg btn-color">VER PROYECTO</button>
                </div>
            </div>
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title">credit card</h5>
                    <span>Descripcion:</span>
                    <p>Este proyecto sirve para crear tu propiea tarjeta de credito y eliminar o editarla.</p>
                    <button routerLink="/credit-card" class="btn btn-primary btn-lg btn-color">VER PROYECTO</button>
                </div>
            </div>
    </div>
</div>